*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

.header { 
    background-color: azure;
    display: flex; 
    width: 100%;
    justify-content: space-between;
    position: fixed;  
    top: 0; 
    left: 0; 
}

.home-pointer { 
    color: black;
    font-size: 20px;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 15px;
}

.logo-images { 
    padding: 15px;
    display: flex;
}

.logo-image { 
    padding: 5px;
}

.page {
    display: flex;
    justify-content: center;
    margin-top: 75px;
}

.sidebar { 
    display: flex;
    padding: 20px 20px;
    /* border: 1px solid salmon; */
    width: 20%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 73px; 
    left: 0; 
}

.menu { 
    /* border: 1px solid red; */
}

.content { 
    display: flex;
    /* border: 1px solid sandybrown;*/
    width: 40%;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.content-header { 
    padding: 15px;
    /* border: 1px solid red; */
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.intro { 
    /* border: 1px solid red; */
    margin: 10px;
    padding: 20px;
    text-align: left;
}

.anta { 
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.quattrocento-regular, ol, ul {
    font-family: "Quattrocento", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .quattrocento-bold {
    font-family: "Quattrocento", serif;
    font-weight: 700;
    font-style: normal;
  }

  p { 
    line-height: 2em; 
  }
  
  ol, ul { 
    margin-left: 30px;
    line-height: 2em;
  }

  